html {
    background: #ffffff;
}

nav {
    /* positioning */
    top: 0px;
    left: 0px;
    height: 10%;
    width: 100%;
    position: fixed;
    
    /* content */
    text-align: center;       
    
    /* color */
    background: #76c2d0;
}

nav li {    
    /* position */
    position: relative;
    vertical-align: middle;
    height: 100%;
    display: inline-block;    
    
    /* paddings, borders, margins */
    height: auto;
    width: auto;
    padding: 5%;
    
    /* content */
    color: white;
    font-family: Vonique 64;
    font-size: 100%;
    overflow: scroll;
}