@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerButton {
    @apply mx-4 opacity-70 hover:opacity-100;
  }

  .heroButton {
    @apply
    px-6 py-2 justify-center flex-shrink
    border border-gray-900
    text-sm tracking-widest bg-transparent text-orange-500
    rounded-full uppercase
    hover:border-[#F7AB0A]/40 hover:bg-orange-400 hover:text-white font-semibold
    transition-colors;
  }

  .section {
    @apply h-screen relative flex overflow-hidden flex-col text-left md:flex-row max-w-full justify-evenly mx-auto items-center z-0 mb-8;
  }

  .sectionTitle {
    @apply absolute top-24 uppercase tracking-[20px] text-gray-500 text-2xl;
  }

  .carousel-placeholder {
    @apply flex flex-shrink-0 w-[400px] md:w-[600px] xl:w-[550px];
  }

  .gradient {
    background-image: '-webkit-gradient(linear, left top, left bottom, from(rgba(50,50,50,0.8)), to(rgba(80,80,80,0.2)), color-stop(.5,#333333))';
  }
}

body {
  background-color: #5F686E;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.password-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FC9C03;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.password-modal label {
  display: block;
  margin-bottom: 10px;
  color: #5F686E; /* Text color */
}

.password-modal input {
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 4px;
}

.password-modal button {
  background-color: #5789B5; /* Button color */
  color: #fff; /* Text color */
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.password-modal button:hover {
  background-color: #2980b9; /* Button color on hover */
}
